#main_window
{
    background-image: url(:/icons/light_background.png);
}

MiniWindow QPushButton {
  color: #639D74;
  border: 1px solid #2B8A47;
  border-radius: 0px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 white, stop: 1 #A3E5b7);
  min-height: 25px;
  min-width: 30px;
}

#send_button{
  color: #3BC563;
  border: 1px solid #267B3F;
  border-radius: 4px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #14A73F, stop: 1 #267B3F);
  min-width: 80px;
  min-height: 23px;
  padding: 2px;
}

#send_button:disabled{
  color: #BDFACF;
  border: 1px solid #5FC47D;
  border-radius: 4px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #9FFCBA, stop: 1 #64A677);
  min-width: 80px;
  min-height: 23px;
  padding: 2px;
}

#receive_button
{
  color: #3BC563;
  border: 1px solid #267B3F;
  border-radius: 4px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #14A73F, stop: 1 #267B3F);
  min-height: 25px;
  min-width: 30px;
}          
#receive_button[isActive=true]
{
  color: #3BC563;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #14A73F, stop: 1 #987620);
} 

#address_input, #amount_input
{
    color: #000;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #6FBA85;
    width: 225px;
}

#address_input[isValid=true]
{
  color: #4D9948;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #6FBA85;
  width: 225px;
  margin-top: 4px;
}

#address_input[isValid=false]
{
  color: #CE4141;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #6FBA85;
  width: 225px;
  margin-top: 4px;
}

#address_input[isValid=placeholder]
{
  color: #DEC58D;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #6FBA85;
  width: 225px;
  margin-top: 4px;
}
#balance_label
{
    color: #0C782B;
}

#history
{
    color: #268D44;
}

